@import "~bootstrap/dist/css/bootstrap.min.css";

.extra-padding {
  padding-top: 24%;
  padding-bottom: 23%;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.dog {
  background-image: url(https://images.pexels.com/photos/3658120/pexels-photo-3658120.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.bird {
  background-image: url(https://images.pexels.com/photos/1418241/pexels-photo-1418241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.turtle {
  background-image: url(https://images.pexels.com/photos/789141/pexels-photo-789141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.grandma {
  background-image: url(https://images.pexels.com/photos/509236/pexels-photo-509236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
